![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

As a consultant working for a real estate start-up, you have collected Airbnb listing data from various sources to investigate the short-term rental market in New York. You'll analyze this data to provide insights on private rooms to the real estate company.

There are three files in the data folder: airbnb_price.csv, airbnb_room_type.xlsx, airbnb_last_review.tsv.

What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.


How many of the listings are private rooms? Save this into any variable.


What is the average listing price? Round to the nearest penny and save into a variable.


Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.

In [32]:
import numpy as np
import pandas as pd

price_df = pd.read_csv('data/airbnb_price.csv')
room_df = pd.read_excel('data/airbnb_room_type.xlsx')
review_df = pd.read_csv('data/airbnb_last_review.tsv', sep = '\t')

display(price_df.head())
print(price_df.info())

display(room_df.head())
print(room_df.info())

display(review_df.head())
print(review_df.info())

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB
None

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   description  25199 non-null  object
 2   room_type    25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB
None

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB
None

In [33]:
print(price_df['listing_id'].isna().sum())
print(room_df['listing_id'].isna().sum())
print(review_df['listing_id'].isna().sum())

0
0
0

In [34]:
# What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.
review_df['last_review'] = pd.to_datetime(review_df['last_review'])
sorted_reviews = review_df['last_review'].sort_values()
display(sorted_reviews)

first_review = sorted_reviews.iloc[0]
last_review = sorted_reviews.iloc[-1]

print(first_review, last_review)

12007   2019-01-01
10430   2019-01-01
14845   2019-01-01
7203    2019-01-01
17123   2019-01-01
           ...
23952   2019-07-08
9595    2019-07-08
9505    2019-07-08
17563   2019-07-08
58      2019-07-09
Name: last_review, Length: 25209, dtype: datetime64[ns]

2019-01-01 00:00:00 2019-07-09 00:00:00

In [35]:
# How many of the listings are private rooms? Save this into any variable
print(room_df['room_type'].unique())

room_df['room_type'] = room_df['room_type'].str.lower()
print(room_df['room_type'].unique())

private_count = len(room_df[room_df['room_type'] == 'private room'])
print(private_count, ' rooms, from ', len(room_df), ' rooms, are private')

['Entire home/apt' 'private room' 'Private room' 'entire home/apt'
 'PRIVATE ROOM' 'shared room' 'ENTIRE HOME/APT' 'Shared room'
 'SHARED ROOM']
['entire home/apt' 'private room' 'shared room']
11356  rooms, from  25209  rooms, are private

In [43]:
# What is the average listing price? Round to the nearest penny and save into a variable
print(price_df['price'].head())
int_price = price_df['price'].apply(lambda x: int(str(x).strip().split()[0]))
print(int_price)
price_df['price'] = int_price

avg_price = np.round(np.mean(int_price), 2)
print(avg_price)

0    225
1     89
2    200
3     79
4    150
Name: price, dtype: int64
0        225
1         89
2        200
3         79
4        150
        ...
25204    129
25205     45
25206    235
25207    100
25208     30
Name: price, Length: 25209, dtype: int64
141.78

In [63]:
# Combine the new variables into one DataFrame called review_dates with four columns in the following order: 
# first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.

values = [[first_review, last_review, private_count, avg_price]]
columns = ['first_review', 'last_review', 'private_count', 'avg_price']

review_dates = pd.DataFrame(data = values, columns = columns)
display(review_dates)

  first_review last_review  private_count  avg_price
0   2019-01-01  2019-07-09          11356     141.78